.comment-collapsible{
  border-right:0px!important;
  border-left:0px!important;
  box-shadow: 0 0px 0px rgba(0,0,0,.26)!important;
}

.stream-container{
    padding-bottom: 0!important;
    padding-top: 165px!important;
    padding-left: 6px!important;
    padding-right: 6px!important;
}

.artist-header{
  height:180px!important;
}

.li-auto-width{
  min-width:0px!important;
}

.artist-header_shrink{
  height:55px!important;

}

.artist-header-pic{
  height:60px!important;
  width:auto!important;
}

.headroom--pinned {
    -webkit-transform: translateY(0%);
    -ms-transform: translateY(0%);
    transform: translateY(0%);
}

.headroom--unpinned {
    -webkit-transform: translateY(-91px);
    -ms-transform: translateY(-91px);
    transform: translateY(-91px);
}

